#App
ENVIRONMENT= "development"
PORT= "3000"

#Sequelize DB connection
HOST= "localhost"
DATABASE_NAME= "ep_ecommerce"
ADMIN_USERNAME= "your_mysql_username"
ADMIN_PASSWORD= "your_mysql_password"
DIALECT= "mysql"

#JWT
JWT_SECRET= "your-secret-jwt-key"
JWT_EXPIRES_IN= "2h"

#API
PRODUCTS_URL= "http://backend.restapi.co.za/items/products"
