#App
ENVIRONMENT= "development"
PORT= "3000"

#Sequelize DB connection
HOST= "localhost"
DATABASE_NAME= "noroff_ep_ecommerce"
ADMIN_USERNAME= "admin"
ADMIN_PASSWORD= "password"
DIALECT= "mysql"

#JWT
JWT_SECRET= "secret"
JWT_EXPIRES_IN= "2h"

#Noroff API
NOROFF_PRODUCTS_URL= "http://backend.restapi.co.za/items/products"
